/*  your css code here. If applicable */

.main-div {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  border: 2px solid black;
  position: absolute;
  left: 45%;
  top: 45%;
}

div .div-center {
  position: relative;
  top: 35px;
  color: #8b2c92;
  text-align: center;
  box-sizing: border-box;
}
